{% extends "posts/base.html" %}

{% block content %}
    <h1>Your Posts</h1>
    <a href="{% url 'create_post' %}">Create New Post</a>
    {% for post in posts %}
        <div class="post">
            <p>{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post image" style="max-width: 300px;">
            {% endif %}
            <small>{{ post.created_at }}</small>
            <div>
                <a href="{% url 'edit_post' post.id %}">Edit</a>
                <form action="{% url 'delete_post' post.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}